.teacher-container{
    display: flex;
    justify-content: space-evenly;
}
.photo img{
    width: 500px;
    margin-top: 100px;
    padding-left: 70px;
    border-radius: 5px;
}
.detail{
    width: 600px;
    margin-top: 150px;
    text-transform: capitalize;
}
.detail h3{
    font-weight: bold;
    padding-bottom: 10px;
}
.detail h5{
    font-weight: 600;
}
.detail h6{
    font-weight: 600;
}