.course-container{
   display: inline-block;
}
.course{
    width: 270px;
    height: 400px;
    background-color: rgb(231, 224, 224);
    border: 7px solid rgb(233, 231, 231);
    box-shadow:10px 10px 10px solid gray ;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 20px;
}
.course:hover{
    background-color: rgb(199, 204, 212);
    transition: 0.5s;
}
.course h4{
    margin-top: 10px;
}
.course img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}
